<div *ngIf="!token">
<app-navbar></app-navbar>
</div>
<div *ngIf="token">
<app-nav-user></app-nav-user>
</div>


<div class="home-page">

    <div class="banner">
      <div class="container">
        <h1 class="logo-font">Stoic</h1>
        <p>Share thoughts ,share happiness</p>
      </div>
    </div>
    </div>

    <div class="container page">
        <div class="row">
    
          <div class="col-md-9">
            <div class="feed-toggle">
              <ul class="nav nav-pills outline-active">
                <li class="nav-item">
                  <a class="nav-link active"
                     routerLink="global-feed">
                     Global Feed
                  </a>
                </li>
              </ul>
           </div>
          </div>
         </div>
       </div>

       <router-outlet></router-outlet>

